* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body .container .right form .submit, body .container .right form .password, body .container .right form .email, body .container .right form .last-name, body .container .right form .first-name {
  width: 100%;
  height: 50px;
  border: 1px solid #b9b6d3;
  border-radius: 5px;
  padding-left: 40px;
}
body .container .right form .submit::placeholder, body .container .right form .password::placeholder, body .container .right form .email::placeholder, body .container .right form .last-name::placeholder, body .container .right form .first-name::placeholder {
  font-size: 0.8rem;
  color: #b9b6d3;
}

body .container .right form .hint {
  width: 100%;
  height: 40px;
}

body {
  background-image: url("./images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #ff7a7a;
}
body .container {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 70px 160px;
  overflow: hidden;
}
body .container .left {
  float: left;
  width: 50%;
  padding-right: 70px;
}
body .container .left .mid {
  margin-top: 230px;
  color: #fff;
}
body .container .left .mid h1 {
  font-size: 3rem;
  line-height: 50px;
}
body .container .left .mid p {
  font-size: 1rem;
  margin-top: 20px;
}
body .container .right {
  float: right;
  width: 50%;
  text-align: center;
}
body .container .right button {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: #6055a5;
  color: #fff;
  font-size: 1rem;
  box-shadow: 1px 6px 2px #3e3c49;
}
body .container .right form {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  margin-top: 40px;
  box-shadow: 1px 6px 2px #3e3c49;
}
body .container .right form .submit {
  border: none;
  background-color: #38cc8c;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0;
  box-shadow: 1px 3px 2px #3e3c49;
}
body .container .right form p {
  margin-top: 20px;
  font-size: 0.7rem;
  color: #b9b6d3;
}
body .container .right form p .span {
  color: #ff7a7a;
  font-weight: 600;
}

@media (max-width: 960px) {
  body {
    background-image: url("./images/bg-intro-mobile.png");
  }
  body .container {
    padding: 100px 25px;
  }
  body .container .left {
    float: none;
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
  body .container .left .mid {
    margin-top: 0;
  }
  body .container .left .mid h1 {
    font-size: 3rem;
    line-height: 70px;
  }
  body .container .left .mid p {
    font-size: 1.8rem;
    margin-top: 40px;
  }
  body .container .right {
    float: none;
    width: 100%;
    margin-top: 80px;
  }
  body .container .right button {
    height: 100px;
    border: none;
    font-size: 1.8rem;
    line-height: 40px;
    padding: 0 20%;
  }
  body .container .right form {
    margin-top: 50px;
  }
  body .container .right form .hint {
    height: 25px;
  }
  body .container .right form .first-name {
    height: 60px;
  }
  body .container .right form .first-name::placeholder {
    font-size: 1rem;
  }
  body .container .right form .last-name {
    height: 60px;
  }
  body .container .right form .last-name::placeholder {
    font-size: 1rem;
  }
  body .container .right form .email {
    height: 60px;
  }
  body .container .right form .email::placeholder {
    font-size: 1rem;
  }
  body .container .right form .password {
    height: 60px;
  }
  body .container .right form .password::placeholder {
    font-size: 1rem;
  }
  body .container .right form .submit {
    font-size: 1.8rem;
    font-weight: 600;
    height: 80px;
  }
  body .container .right form p {
    margin-top: 25px;
    font-size: 1rem;
    padding: 0 20%;
  }
}

/*# sourceMappingURL=compiled.css.map */
